{% extends "main.html" %}
{% load static %}
{% block content %}
    <section class="work-section" id="top">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>Dark</h1>
                </div>
            </div>
            <div class="row">
                <div class="work-item">
                    <a href="{% url 'room' aot_room.id %}">
                        <div class="work-item-inner">
                            <img src="{% static 'Images/pngegg (7).png' %}" alt="Anime 1">
                            <div class="overlay">
                                <h3>Attack On Titan</h3>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="work-item">
                    <a href="{% url 'room' ber_room.id %}">
                        <div class="work-item-inner">
                            <img src="{% static "Images/pngegg (5).png" %}" alt="Anime 2">
                            <div class="overlay">
                                <h3>Berserk</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="work-item">
                    <a href="{% url "room" tg_room.id %}">
                        <div class="work-item-inner">
                            <img src="{% static "Images/tokyo_ghoul_by_rest_in_torment_d8dsfoa.png" %}" alt="Anime 3">
                            <div class="overlay">
                                <h3>Tokyo Ghoul</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}